@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class="container">
    <div class="panel panel-info">
        <div class="panel-title">
            <h3>SPORT NEWS</h3>
        </div>
    </div>
   <div class="panel-body">
       <table class ="table table-responsive">
           <thead>
               <tr>
                   <th>Image</th>
                   <th>Headline</th>
                   <th>Details</th>
               </tr>
           </thead>
           <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td><img src="@item.Img" style="width:80px;height:80px"/></td>
                        <td>@item.Title</td>
                        <td><a href="@item.Details">Details</a></td>
                    </tr>
                }
            </tbody>

       </table>

   </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

